.fl-h1-144{
	font-size: 144px;
	margin-bottom: 15px;
	/*margin-bottom: 30px;*/
	margin-top: -15px;
}
.block-page-sub-heading{
	margin-bottom: 22px;
}
.page-404-des p{
	line-height: 1.6;
	margin-bottom: 27px;
}
.page-404-inner {
    display: flex;
    flex-wrap: wrap;
}

.page-404-lft-des {
    /*width: 42.49%;*/
    width: 41%;
    padding-top: 132px;
}

.page-404-rgt-img {
	width: 59%;
    /*width: 57.51%;*/
    padding-left: 127px;
}
.page-404-img{
	/*padding-left: 107px;
    padding-right: 123px;*/
    padding-top: 11px;
    padding-bottom: 9px;
}
.page-404-des .default-page-con ul,.page-404-des ul{
	padding-bottom: 8px;
}
.page-404-des .default-page-con ul li,.page-404-des ul li{
	padding: 2px 0 18px 22px;
	text-transform: uppercase;
    font-weight: 600;
    font-family: Oswald;
    color: #1A7ABE;
}
.page-404-btn a{
	min-width: 170px;
    padding: 14px 15px;
}
.page-404-sec {
    padding-bottom: 61px;
}
.page-404-lft-des{
	order: 1;
}
.page-404-rgt-img{
	order: 2;
}


/*responsive-start*/

@media (max-width: 1699px){
	.fl-h1-144{
		font-size: 136px;
	}
	.page-404-lft-des{
		width: 44%;
	}
	.page-404-rgt-img{
		width: 56%;
		padding-left: 120px;
	}
	.page-404-des p{
		margin-bottom: 25px;
	}

}
@media (max-width: 1499px){

	.fl-h1-144{
		font-size: 128px;
		margin-bottom: 14px;
		margin-top: -21px;
	}
	.page-404-lft-des{
		width: 46%;
	}
	.page-404-rgt-img{
		width: 54%;
		padding-left: 115px;
	}
	.sub-heading-404{
		margin-bottom: 18px;
	}
	.page-404-des p {
    	margin-bottom: 24px;
    	line-height: 1.5;
	}
}
@media (max-width: 1399px) {
	.fl-h1-144{
		font-size: 120px;
		margin-bottom: 13px;
	}
	.page-404-rgt-img{
		padding-left: 110px;
	}
	.page-404-img {
    	padding-top: 9px;
    	padding-bottom: 7px;
	}
}


@media(max-width: 1299px){
	.fl-h1-144{
		font-size: 112px;
		margin-bottom: 12px;
	}
	.page-404-rgt-img{
		padding-left: 100px;
	}
}

@media(max-width: 1199px){

	.fl-h1-144{
		font-size: 104px;
		margin-bottom: 11px;
		margin-top: -13px;
	}
	.page-404-rgt-img {
    	padding-left: 70px;
    	width: 52%;
	}
	.page-404-lft-des{
		width: 48%;
		padding-top: 120px;
	}
	.page-404-img {
   	 	padding-top: 7px;
   	 	padding-bottom: 5px;
	}
	.sub-heading-404 {
    	margin-bottom: 16px;
	}
	.page-404-des .default-page-con ul li, .page-404-des ul li{
		padding: 2px 0 15px 22px;
	}
	.page-404-sec {
    	padding-bottom: 51px;
	}
}
@media(max-width: 991px){

	.fl-h1-144{
		font-size: 96px;
		margin-top: -30px;
		margin-bottom: 10px;
	}
	.page-404-rgt-img {
    	padding-left: 30px;
    	width: 44%;
	}
	.page-404-lft-des{
		width: 56%;
		padding-top: 110px;
	}
	.page-404-img {
    	padding-top: 5px;
	}
	.sub-heading-404 {
    	margin-bottom: 14px;
	}
	.page-404-des p {
    	margin-bottom: 15px;
    	line-height: 1.4;
	}
	.page-404-des .default-page-con ul li, .page-404-des ul li{
		font-size: 14px;
		padding: 2px 0 9px 20px;
	}
	.page-404-sec {
    	padding-bottom: 41px;
	}
	
}
@media(max-width: 767px){

	.fl-h1-144{
		font-size: 88px;
	}
	.page-404-rgt-img {
    	width: 100%;
	}
	.page-404-img{
		max-width: 375px;
    	width: 100%;
    	margin: 0 auto;
	}
	.page-404-lft-des {
    	width: 100%;
    	padding-top: 0;
	}
	.page-404-des-inner{
		max-width: 375px;
		width: 100%;
		margin: 0 auto;
	}
	.page-404-inner {
    	display: block;
	}
	.page-404-rgt-img {
    	padding:47px 0;
	}
	.page-404-des-inner h1 {
    	text-align: center;
    	margin-bottom: 10px;
    	/*margin-bottom: 34px;*/
	    margin-top: 0;
	}

	.page-404-des h2 {
    	text-align: center;
	    margin-bottom: 20px;
        font-size: 30px;
	}

	.page-404-des p {
    	text-align: center;
    	font-size: 16px;
		line-height: 1.6;
		margin-bottom: 31px;
	}

	.page-404-des .default-page-con ul, .page-404-des ul {
    	padding-left: 18px;
    	padding-bottom: 28px;
	}

	.page-404-btn a {
    	width: 100%;
	}
	.page-404-des .default-page-con ul li, .page-404-des ul li{
		padding: 2px 0 18px 22px;
	}
	.page-404-sec{
		padding: 0;
	}
	.page-404-btn {
    	padding-bottom: 59px;
	}
	.page-404-img{
		padding: 3px 0;
	}
}
@media(max-width: 575px){

	.fl-h1-144{
		font-size: 80px;
	}	
}
@media(max-width: 479px){
	.fl-h1-144{
		font-size: 72px;
	}
		
}
@media(max-width: 359px){
	.fl-h1-144 {
    	font-size: 64px;
	}
	.page-404-des h2{
		font-size: 26px;
	}
	.page-404-des p{
		line-height: 1.5;
		margin-bottom: 26px;
	}
	.page-404-des .default-page-con ul, .page-404-des ul{
		padding-bottom: 24px;
		padding-left: 10px;
	}
	.page-404-btn {
    	padding-bottom: 49px;
	}
}


/*responsive-end*/