
/*
------------------
 Contact Css
------------------
*/
.border-cntlr .ftr-top{
    border-top:none;
}
.contact-form-block{
    padding-bottom: 108px;
}
.contact-form-lft{
	width: 74.5%;
    float: left;
    padding-right: 109px;
}
.contact-form-dsc-wrp h1{
    text-transform: uppercase;
    color:#162B39;
    margin-bottom: 50px;
    line-height:1;
}
/*.contact-form-lft .error-msg{
    display: none;
}*/
.woocommerce-error{
    border-top-color: initial;
}
.woocommerce .woocommerce-error::before, 
.woocommerce .woocommerce-info::before, 
.woocommerce .woocommerce-message::before {
    top: 23px;
    left: 16px;
    content: ""!important;
    background-image: url('../images/alert-icon.svg');
    width: 24px;
    height: 24px;
}
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-notices-wrapper ul,
.woocommerce .woocommerce-message {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    padding-left: 58px!important;
    padding-right: 20px!important;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.error-msg, .woocommerce-info{
	background: #D61D1D!important;
    padding: 20px 18px!important;
    margin-bottom: 40px!important;
    padding-left: 58px!important;
    position: relative;
}
body.woocommerce-edit-account .register-field-error{
    margin-bottom: 37px!important;
}
body.woocommerce-edit-account .success-msg {
    background: #D61D1D!important;
    padding: 25px 18px 21px!important;    
}
.error-msg span {
    color: #fff;
    margin-bottom: 0;
    padding-left: 0;
}
.error-msg span i,
.woocommerce-info:before{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	left: 20px!important;
	top: 50%!important;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	margin-top: -1px;
}

/*
---------------------
 Contact Form
---------------------
*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 12px;
	margin-bottom: 25px;
	position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField{
	padding-top: 30px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: #162B39;
    margin-bottom: 8px;
    font-family: 'Oswald', sans-serif;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
    max-width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    padding: 15px 15px 16px;
    color: #777F84;
    font-weight: 400;
    font-size: 16px;
    border-radius:0!important;
    line-height: 1;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.wpforms-container .wpforms-datepicker-wrap .wpforms-datepicker-clear{
    right:20px!important;
    z-index:111;
}
.contact-form-wrp .wpforms-field-container .wpforms-field-select-calendar,
.contact-form-wrp .wpforms-field-container .wpforms-field-select{
    width: 100% !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-select select{
	background:#fff !important;
    padding: 15px 15px;
    font-size: 16px !important;
    line-height: 18px !important;
    color: #909BA5;
    font-weight: 400;
    border: 1px solid #ECF1F4 !important;
    border-radius: 3px !important;
    height: 48px;
    text-transform: initial !important;
    min-height: 100%;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    /*background-image: url(../images/select-angle-icon.svg)!important;*/
    background-size: 9px 5px;
    background-repeat: no-repeat !important;
    background-position: 97% center !important;
}
.contact-form-filed select{
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100% !important;
    max-width: 100% !important;
    height: 50px !important;
    background: #fff !important;
    border: 1px solid #E5E5E5;
    padding: 15px 20px 16px;
    font-size: 14px !important;
    line-height: 16px;
    color: #151515;
    font-weight: 500 !important;
    border-radius: 40px;
    position: relative;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background-image: url(../images/angle-icon.svg)!important;
    background-size: 5px 5px;
    background-repeat: no-repeat !important;
    background-position: 97% center !important;
    text-transform: capitalize;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-select-calendar{
    position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-webkit-input-placeholder { / Chrome/Opera/Safari /
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-moz-placeholder { / Firefox 19+ /
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-ms-input-placeholder { / IE 10+ /
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-moz-placeholder { / Firefox 18- /
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::placeholder{
    color:#777F84!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder{ / Chrome/Opera/Safari /
    color:#777F84!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder{ / Firefox 19+ /
    color:#777F84!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder{ / IE 10+ /
    color:#777F84!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder{ / Firefox 18- /
    color:#777F84!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-select-calendar:before{
    content: "" !important;
    position: absolute !important;
    right: 34px !important;
    bottom: 18px !important;
    background: url(../images/calenda-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 12px 13px !important;
    width: 12px !important;
    height: 13px !important;
    z-index: 100 !important;
}
.page-template-page-boek-je .flatpickr-months .flatpickr-month{
    height: 50px !important;
}
.page-template-page-boek-je .flatpickr-months .flatpickr-prev-month, .page-template-page-boek-je .flatpickr-months .flatpickr-next-month {
    height: 40px !important;
    top: 11px;
}
.page-template-page-boek-je .flatpickr-current-month {
    padding-top: 0;
    top: 18px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
	width: 100%;
	height: 295px;
	background:#fff;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	color: #777F84;;
	background:#fff;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	padding: 14px 15px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	resize: none;
    display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color:#c0bebe;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
    min-width: 210px;
    border: 2px solid #1A7ABE!important;
    background: #1A7ABE;
    font-size: 16px!important;
    line-height: 1 !important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 600!important;
    transition: all 0.5s!important;
    -ms-transition: all 0.5s!important;
    -webkit-transition: all 0.5s!important;
    cursor: pointer!important;
    padding: 14px 15px!important;
    text-align: center;
    font-family: 'Oswald', sans-serif
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
	background: #000000 !important;
	color: #fff !important;
	border-color: #000000 !important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p{
    font-size: 13px;
    line-height: 1;
    color: #777F84;
    margin-bottom: 5px;
    padding-top: 28px !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p a{
	color: #777F84;
    text-decoration: underline;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p a:hover{
	color: #1A7ABE;
    text-decoration: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text{
	width: 100%!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.form-privacy-text{
	margin-bottom: 15px;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p {
    font-size: 12px;
    line-height: 1.4;
    color: #6A6A6A;
    margin-bottom: 24px;
    text-align: left;
    font-style: italic;
    margin-bottom: 0;
    padding-top: 10px;
    padding-right: 20px;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: underline;
	color: #6A6A6A;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p a:hover{
	color: #E0861A;
}

.contact-form-wrp .wpforms-container label.wpforms-field-label span.wpforms-required-label{
	display: inline-block!important;
}
.wpforms-field.wpforms-field-html p{
	color: #78797B;
}
.wpforms-field.wpforms-field-html p a{
	color: #78797B;
	text-decoration: underline;
}
.wpforms-field.wpforms-field-html p a:hover{
	color: #e48aa4;
}




/*
------------------
 Error Text Css
------------------
*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
    font-weight: 500;
    font-size: 12px;
    padding-left: 2px;
    position: absolute;
    top: 6px;
    right: 13px;
    color: #D61D1D;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: inherit;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .NameField.wpforms-has-error label.wpforms-error{
    top: 53px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container label.wpforms-error{
	display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
	display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="email"].wpforms-error,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="text"].wpforms-error,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field select.wpforms-valid .select2-selection{
	border: 1px solid #D61D1D !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error::after{
    content: "";
    font-size: 14px;
    line-height: 1;
    color: #D61D1D;
    position: absolute;
    display: block;
    top: 100%;
    right: 18px;
    margin-top: 24px;
    padding-right: 12px;
    font-weight: 700 !important;
    text-align: right;
    width: auto;
    text-transform: inherit;
    margin-bottom: 0;
    text-indent: 0 !important;
    background: url(../images/union-icon.svg);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px 20px;
    width: 21px;
    height: 20px;
    color: transparent !important;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .NameField.wpforms-has-error label.wpforms-error::after{
    margin-top: -38px;
    top: 0;
}
.contact-form-wrp div.wpforms-container-full .wpforms-form .wpforms-submit-container{
    padding: 0 !important;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-field-label{
    color:#D61D1D!important;
}

form .bootstrap-select .wpforms-error + button{
    border-color:#D61D1D!important;
    color:#D61D1D!important;
}
form .bootstrap-select .wpforms-error + button.dropdown-toggle::before{
        background-image: url(../images/select-down-arrow-val.svg);
}
/*
placeholder
*/

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input.wpforms-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input.wpforms-error::-moz-placeholder { /* Firefox 19+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input.wpforms-error:-ms-input-placeholder { /* IE 10+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input.wpforms-error:-moz-placeholder { /* Firefox 18- */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea.wpforms-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea.wpforms-error::-moz-placeholder { /* Firefox 19+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea.wpforms-error:-ms-input-placeholder { /* IE 10+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea.wpforms-error:-moz-placeholder { /* Firefox 18- */
  color: #D61D1D!important;
  opacity: 1;
}


/*
---------------
Contact info
---------------
*/
.contact-form-rgt{
	width: 25.5%;
    float: right;
}

.contact-form-info-cntlr {
    padding: 60px 54px 60px 54px;
    margin-top: 5px; 
    background: #162B39;
    position: relative;
}
.contact-form-info-title{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.5;
}
.contact-form-info-cntlr i.contact-form-info-round-bg {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.contact-form-info-cntlr i.contact-form-info-line-bg{
    display: inline-block;
    position:absolute;
    bottom:0;
    left:0;
}
.contact-form-info  ul li{
	display: block;
	position: relative;
}
.contact-form-info ul li:not(:last-child){
    padding-bottom: 25px;
}
.contact-form-info  ul li span,
.contact-form-info  ul li a{
	display: inline-block;
    vertical-align: baseline;
    text-decoration: none!important;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.contact-form-info  ul li span a{
	text-decoration: underline;
}
.contact-form-info ul li span a svg{
    margin-right: 7px;
    margin-top: -3px;
    position: relative;
}
.contact-form-info ul li a:hover,
.contact-form-info ul li span a:hover svg{
	opacity: .8;
}
.contact-form-info-socail ul li a i:hover svg{
	opacity: .7;
}
.contact-form-info-socail{
	padding-top: 35px;
}
.contact-form-info-socail ul{
	margin: 0 -10px;
}
.contact-form-info-socail ul li{
    float: left;
    padding: 0 10px;
}
.contact-form-info-socail ul li a{
	text-decoration: none;
	color: #ee3e15;
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	 font-size: 14px;
    line-height: 26px;
}
.has-svg-social.has-svg-social ul li a{
	background:transparent;
}
.contact-form-info-socail ul li a:hover i svg{
		fill: #2C113E;
}

/*
----------------
contact-google-map
----------------
*/
.contact-google-map-wrp{
	position: relative;
}
.contact-google-map iframe{
	height: 660px;
	width: 100%;
}
.contact-google-parachute{
    position: absolute;
    left: -55px;
    bottom: 100px;
}
.contact-parachute-icon {
    position: absolute;
    right: -130px;
    top: -300px;
}


/*
-----------------------
boek-je-form-sec-wrp
-----------------------
*/
.boek-je-form-bg-cntlr{
	padding-bottom: 160px;
}
.boek-je-form-sec-wrp .page-entry-header {
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.boek-je-form-sec-wrp .contact-form-info-cntlr{
    padding: 60px 30px 50px 30px;
    background: #FDCA35;
    position: relative;
}
.contact-form-info-title-1{
	display: block;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.boek-je-form-sec-wrp .contact-form-info{
	color: #fff;
}
.boek-je-form-sec-wrp .contact-form-info p{
	margin-bottom: 30px;
}
.boek-je-form-sec-wrp .fl-transparent-btn {
    min-width: 200px;
    height: 50px;
    color: #fff;
    border: 2px solid#fff;
    margin: 0 auto;
    padding: 14px 30px 15px;
}
.boek-parachute-icon {
    position: absolute;
    right: -92px;
    bottom: -45px;
}
.boek-je-form-bg-cntlr{
	background:url(../images/boek-je-form-bg-cntlr.png);
	background-size: cover;
	background-position: center center;

}

/*select 2 fix */
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #909BA5;
}
.contact-form-sec-wrp .fl-select-cntlr .select2-container--default .select2-selection--single .select2-selection__arrow b,
#billing_country_field .select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-left: 0!important;
}
.contact-form-sec-wrp .fl-select-cntlr .select2.select2-container,
#billing_country_field .select2.select2-container{
    width: 100%!important;
}
.contact-form-sec-wrp .fl-select-cntlr .select2-selection,
#billing_country_field .select2-selection{
    position: relative!important;
    padding: 14px 15px;
}
.contact-form-sec-wrp .fl-select-cntlr .select2-selection span.select2-selection__rendered,
#billing_country_field .select2-selection span.select2-selection__rendered{
    padding-left: 0;
}
.contact-form-sec-wrp .fl-select-cntlr .select2-container--default .select2-selection--single .select2-selection__arrow,
#billing_country_field .select2-container--default .select2-selection--single .select2-selection__arrow{
    right: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form-sec-wrp .fl-select-cntlr .select2-container--default .select2-selection--single .select2-selection__arrow b,
#billing_country_field .select2-container--default .select2-selection--single .select2-selection__arrow b{
    position: static;    
}
.contact-form-sec-wrp .fl-select-cntlr div.wpforms-container-full .wpforms-form .wpforms-field{
    overflow-x: initial!important;
}
/*
---------------------
 Responsive Css
---------------------
*/

@media (max-width:1699px){
	.contact-form-lft{
		width: 71%;
	    padding-right: 80px;
	}
	.contact-form-rgt{
	    width: 29%;
	}
    .contact-form-info ul li span,
    .contact-form-info ul li a{
        font-size: 17px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input,
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label,
    .error-msg span{
        font-size: 17px;
    }
    .wpforms-container .wpforms-datepicker-wrap .wpforms-datepicker-clear{
        background-position: 50% 46%!important;    
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField{
        padding-top:28px;
    }    
}

@media (max-width: 1499px) {
    .wpforms-container .wpforms-datepicker-wrap .wpforms-datepicker-clear{
        background-position: 50% 46%!important;    
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField{
        padding-top:28px;
    }
    .contact-form-info-cntlr {
        padding: 55px 45px 55px 45px;
    }
    .contact-google-map iframe{
        height:600px;
    }
}

@media(max-width: 1399px){
    .contact-parachute-icon {
        right: -109px;
        top: -265px;
        width: 200px;
        height: 240px;
    }
}

@media(max-width: 1299px){
	.contact-google-parachute {
        left: -30px;
    }
    .contact-parachute-icon {
        right: -30px;
    }


}

@media(max-width: 1199px){
	.contact-parachute-icon {
	    right: -15px;
	    top: -215px;
	    width: 160px;
	    height: auto;
	}
	.contact-google-parachute {
	    position: absolute;
	    left: -15px;
	    bottom: 80px;
	    width: 60px;
	    height: 75px;
	}
	.contact-google-map-sec-wrp {
	    padding-bottom: 65px;
	}
	.contact-form-lft {
	    width: 68%;
	    padding-right: 40px;
	}
	.contact-form-rgt {
	    width: 32%;
	}
	.contact-form-info ul li span br,
	.contact-form-info ul li a br{
		display: none;
	}
    .boek-je-form-sec-wrp .contact-form-info-cntlr {
        padding: 50px 30px 40px 30px;
    }
    .error-msg {
        margin-bottom: 30px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
        margin-bottom:22px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
        height:250px;
    }
    .contact-form-info ul li span, .contact-form-info ul li a{
        font-size: 16px;
    }
}

@media(max-width: 991px){
	
	.contact-google-map-sec-wrp{
	    padding-bottom: 45px;
	}
	.contact-form-lft{
        width: 64%;
        padding-right: 30px;
    }
	.contact-form-rgt{
        width: 36%;
    }
	.contact-parachute-icon{
	    right: -15px;
	    top: -195px;
	    width: 140px;
	    height: auto;
	}
    .boek-je-form-sec-wrp .contact-form-info-cntlr{
        padding: 40px 30px 35px 30px;
    }
    .contact-form-info ul li span a svg{
        width: 17px;
        height: auto;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
        margin: 0 -8px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
        padding:0 8px;
    }
    .contact-form-info-cntlr i.contact-form-info-line-bg {
        bottom: -1px;
        left: -3px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
        height:200px;
    }
}
@media(max-width:830px){
    .contact-form-lft{
        width: 63%;
    }
    .contact-form-rgt{
        width: 37%;
    }
    .contact-form-info ul li span a svg{
        width:16px;
        height:auto;
    }
    .contact-form-info-cntlr {
        padding: 55px 35px 55px 35px;
    }
        
}
@media(max-width: 767px){
	.contact-google-map-sec-wrp{
	    padding-bottom: 0;
	}
	.contact-form-lft {
	    width: 100%;
	    padding-right: 0;
	}
	.contact-form-rgt{
	    width: 100%;
        margin-bottom:0px;
	}
    .contact-form-block {
        padding-bottom:27px;
    }
	.contact-google-parachute,
	.contact-parachute-icon{
		display: none;
	}
	.contact-form-sec-wrp .contact-form-lft{
		position: relative;
	    z-index: 2;
        margin-bottom: 52px;
	}
	.contact-form-info-socail {
	    padding-top: 20px;
	}
	.boek-je-form-sec-wrp .contact-form-lft{
		padding-bottom: 48px;
		border-bottom: 1px solid#ECF1F4;
	}
	.boek-je-form-sec-wrp .contact-form-rgt{
	    padding-top: 50px;
	}
	.contact-form-info-title-1{
		text-transform: inherit;
	}
    .overons-team-sec-wrp .contact-white-sky-bg {
        top: -835px;
        height: 840px;
    }
    .boek-je-form-sec-wrp .contact-form-info-cntlr {
        padding: 30px 30px 30px 30px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p{
        line-height: 1.4 !important;
        margin-bottom: 0 !important;
        padding-top:18px!important;
    }
    .contact-form-info-cntlr {
        padding: 50px 35px 50px 35px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea{
        margin-bottom:17px;
    }
    .error-msg{
        margin-bottom: 19px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
        font-size:16px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input,
    .error-msg span{
        font-size:14px;
    }
    .contact-form-sec-wrp, 
    .fl-form-sec-wrp{
        margin-bottom:0;
        padding-top: 35px;
    }
    .contact-form-info-cntlr i.contact-form-info-line-bg {
        bottom: 0;
        left: 0;
    }
    /*bootstrap-select*/
    
    .dropdown-toggle::before{
        width:14px;
        height:7px;
        background-size:cover!important;
    }
    .bootstrap-select .dropdown-menu li a{
        font-size:13px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
        height:187px;
    }
}

@media(max-width: 575px){
	.page-entry-header .fl-h1 span {
	    display: block;
	    padding-left: 0;
	    padding-top: 20px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
	    max-width: 335px;
	    width: 100%;
	    font-size: 14px!important;
	    display: table;
	    margin: 0 auto;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
	    width: 100%;
	    margin-bottom: 18px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField {
	    padding-top: 0;
	    margin-top: -2px;
	}
	.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label{
	    line-height: 1;
	    margin-bottom: 8px;
	}
	.wpforms-field-text p {
	    margin-bottom: 0;
	    padding-top: 18px;
	}
    .overons-team-sec-wrp .contact-white-sky-bg {
        top: -650px;
        height: 800px;
    }
    .page-entry-header .fl-h1 span{
    	font-size: 18px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p{
        text-align: left;
    }
    .contact-form-sec-wrp .fl-select-cntlr .select2-container--default .select2-selection--single .select2-selection__arrow,
    #billing_country_field .select2-container--default .select2-selection--single .select2-selection__arrow{
        right: 15px;
    }
    .error-msg span i,
    .woocommerce-info:before{
        left: 15px!important;
    }
    .contact-form-info-cntlr {
        padding: 53px 64px 50px 64px;
    }
}

@media(max-width: 479px){
	.error-msg span{
		display: table;
		justify-content: left;
		align-items: center;
	}
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
        max-width: 100%;
    }
}
@media(max-width: 359px){
    .contact-form-info-cntlr{
        padding: 50px 15px 50px 25px;
    }
}
