.diensten-overview-text-module {
    padding-bottom: 50px;
}
.dnsten-cta-module-sec{
    margin-bottom:50px;
}
.dnst-text-module{
    padding-top:40px;
}

.service-sec{
    background: #162B39;
    margin-bottom:14px;
}
.service-sec-grid-item{
    position:relative;
}
.cta-module-title.fl-h3 {
    line-height: 1.5;
}
.service-sec-cntlr{
	padding-top:55px;
	padding-bottom:55px;
	padding-left: 39px;
    padding-right: 39px;
}
.service-sec-cntlr ul{
    display: flex;
    margin:0 -15px;
    flex-wrap:wrap;
}
.service-sec-cntlr ul li{
    padding: 15px 15px;
    width: 25%;
}
.service-sec-grid-item .service-sec-grid-item-img{
	height:600px;
	display:flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width:auto;
}
.service-sec-grid-item-title,
.service-sec-grid-item-title a{
    font-family: 'Oswald', sans-serif;
    color: #ffff;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    z-index: 2;
    position: relative;
    padding:15px;
    margin-bottom: 0;
}
.service-sec-grid-item-img:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(22, 43, 57, 0.6);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    z-index:1;
}
.service-sec-grid-item:hover .service-sec-grid-item-img:after{
    background: rgba(22, 43, 57, 0);
}
.service-sec-grid-item .service-sec-grid-item-title{
    opacity:0;
    transform:scale(0);
    -webkit-transform:scale(0);
    -ms-transform:scale(0);
}
.service-sec-grid-item:hover .service-sec-grid-item-title{
    opacity:1;
    transform:scale(1);
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
}
@media(max-width:1699px){
    .service-sec-grid-item .service-sec-grid-item-img {
        height: 550px;
    }
}
@media(max-width:1499px){
    .service-sec-grid-item .service-sec-grid-item-img{
        height: 500px;
    }
    .service-sec-cntlr {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .service-sec-cntlr ul{
        margin:0 -10px;
    }
    .service-sec-cntlr ul li{
        padding:10px 10px;
    }
    .service-sec-cntlr{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width:1199px){
    .service-sec-cntlr ul li{
        width:33.3333%;
    }
    .service-sec-grid-item .service-sec-grid-item-img{
        height:450px;
    }
    .diensten-overview-text-module{
        padding-bottom: 30px;
    }
}
@media(max-width:991px){
    .service-sec-cntlr ul li{
        width:50%;
    }
    .service-sec-grid-item .service-sec-grid-item-img{
        height: 400px;
    }
    .cta-module {
        padding-top: 90px;
        padding-bottom: 60px;
    }
    .cta-module:after{
        height:50px;
        width:5px;
    }
}
@media(max-width:767px){
    .service-sec-grid-item .service-sec-grid-item-img{
        height: 350px;
    }
    .service-sec-cntlr {
        padding-top: 38px;
        padding-bottom: 34px;
    }
    .dnsten-cta-module-sec {
        margin-bottom: 35px;
    }
    .diensten-overview-text-module hr{
        padding-top: 22px;
    }
    .dnst-text-module {
        padding-top:0px;
    }
}
@media(max-width:575px){
    .service-sec-cntlr ul li{
        width:100%;
    }
    .service-sec-grid-item .service-sec-grid-item-img{
        height: 300px;
    }
    .service-sec {
        margin-bottom: 5px;
    }
    .diensten-overview-text-module{
        padding-bottom: 5px;
    }
}
@media(max-width:479px){
    .service-sec-grid-item .service-sec-grid-item-img{
        height: 184px;
    }
    .cta-module {
        padding-top: 75px;
        padding-bottom: 44px;
    }
    .cta-module:after{
        height: 43px;
        width: 4px;
    }
}


