.diensten-details-tab-sec{
    background: #F7F7F7;
}
.diensten-filterbar{
    padding: 47px 0;
}
.diensten-filterbar .diensten-filter{
	display: flex;
	margin:0 -19px;
}
.diensten-filterbar .diensten-filter li{
	padding:0 19px;
}
.diensten-filterbar .diensten-filter li a{
    font-size: 18px;
    color: #162B39;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform:uppercase;
}
.dnsten-dtls-tab-item {
    border-top: 4px solid #FFFFFF;
    padding-top: 57px;
    padding-bottom: 57px;
}
.diensten-filterbar .diensten-filter li a.current{
	color:#1A7ABE;
	text-decoration:underline;
}
.active{
    display: block;
}
.hide{
    display: none;
}


.dnsten-service-sec{
	padding-bottom:110px;
	padding-top:100px;
}
.dnsten-service-sec-cntlr ul{
    display: flex;
    margin:0 -12px;
}
.dnsten-service-sec-cntlr ul li{
	width:33.33%;
	padding:0 12px;
}
.dnsten-service-sec-grid-item-img{
	height:226px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:15px;
}
.dnsten-service-sec-grid-item-title{
	color:#fff;
	text-align: center;
}