header,footer,.dinst-dtls-grds-sec{
	overflow: hidden;
}
.dinst-dtls-grds-sec{
	padding-bottom:20px;
}
.diensten-details-tab-sec{
    background: #F7F7F7;
}
.diensten-filterbar{
    padding: 47px 0;
}
.diensten-filterbar .diensten-filter{
	display: flex;
	margin:0 -19px;
}
.diensten-filterbar .diensten-filter li{
	padding:0 19px;
}
.diensten-filterbar .diensten-filter li a{
    font-size: 18px;
    color: #162B39;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform:uppercase;
}
.dnsten-dtls-tab-item {
    border-top: 4px solid #FFFFFF;
    padding-top: 57px;
    padding-bottom: 57px;
}
.diensten-filterbar .diensten-filter li a.current{
	color:#1A7ABE;
	text-decoration:underline;
}
.active{
    display: block;
}
.hide{
    display: none;
}


.dnsten-service-sec{
	padding-top:100px;
}
.dnsten-service-sec-cntlr {
    padding-bottom: 90px;
    border-bottom: 1px solid #E4E4E4;
}
.dnsten-service-sec-title{
	text-align: center;
}
.dnsten-service-sec-title h1{
	margin-bottom:30px;
}
.dnsten-service-sec-cntlr ul{
    display: flex;
    margin:0 -12px;
    flex-wrap: wrap;
}
.dnsten-service-sec-cntlr ul li{
	width:33.33%;
	padding:0 12px;
	padding-bottom:20px;
}
.dnsten-service-sec-grid-item-img{
	height:226px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:15px;
}
.dnsten-service-sec-grid-item-title{
	color:#fff;
	text-align: center;
	line-height: 1.2;
}


.diensten-detials-related-sec{
	background:#fff!important;
}
@media(max-width:1699px){
}
@media(max-width:1499px){

}
@media(max-width:1199px){
	.dnsten-service-sec {
	    padding-top: 70px;
	}
	.dnsten-service-sec-cntlr{
		padding-bottom:70px;
	}
}
@media(max-width:991px){
	

}
@media(max-width:767px){
	.dnsten-service-sec-cntlr ul li{
		padding:0 8px;
		padding-bottom:16px;
		width:50%;
	}
	.dnsten-service-sec-cntlr ul{
	    margin: 0 -8px;
	}
	.dnsten-service-sec-grid-item-img{
		height:200px;
	}
	.dnsten-service-sec{
	    padding-top: 60px;
	}
	.dnsten-service-sec-cntlr{
		padding-bottom:70px;
	}
}
@media(max-width:575px){
	.diensten-filterbar .diensten-filter{
		justify-content:center;
	}
	.diensten-filterbar {
	    padding-top: 58px;
	}
	.dnsten-dtls-tab-item{
	    padding-bottom: 50px;
	}
	.dnsten-service-sec-cntlr ul li{
		width:100%;
	}
	.dnsten-service-sec-cntlr{
	    padding-bottom: 30px;
	    border:none;
	}
	.diensten-detials-related-sec{
		padding-top: 14px!important;
	}
	
}
@media(max-width:479px){
    .dnsten-service-sec-grid-item-img{
		height:184px;
	}
}