.footer-wrp{

}
.footer-cntlr{

}
.ftr-top{
	padding-top: 85px;
	padding-bottom: 60px;
	border-bottom: 1px solid #E4E4E4;
	border-top: 2px solid #E4E4E4;
}
.ftr-col{
	width: 100%;
	float: left;
	padding-right: 10px;
}
.ftr-col:last-of-type{
	padding-right: 0;
}
.ftr-col-01{
	max-width: 33.852%;
	padding-top: 15px;
}
.ftr-col-02{
	max-width: 41.245%;
	padding-top: 15px;
}
.ftr-col-03{
	max-width: 24.903%;
}
.ftr-logo{
	display: inline-block;
	text-align: center;
}
.ftr-lg-logo{
	margin-bottom: 15px;
}
.ftr-lg-logo a{
	display: inline-block;
	max-width: 233px;
}
.ftr-sm-logo{

}
.ftr-sm-logo a{
	display: inline-block;
	max-width: 155px;
}
.ftr-col-menu{
	display: flex;
	flex-wrap: wrap;
}
.ftr-col-menu ul{
	width: 50%;
	padding-right: 10px;
}
.ftr-col-menu ul:last-child{
	padding-right: 0;
}
.ftr-col-menu ul li{
	padding: 18px 0;
}
.ftr-col-menu ul li:first-child{
	padding-top: 0;
}
.ftr-col-menu ul li:last-child{
	padding-bottom: 0;
}
.ftr-col-menu ul li a{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #162B39;
	text-transform: capitalize;
}
.ftr-col-menu ul li a:hover,
.ftr-addr a:hover,
.ftr-tel a:hover,
.ftr-fax a:hover,
.ftr-mail a:hover,
.ftr-btm-menu ul li a:hover,
.ftr-developed-by p a:hover{
	color: #1A7ABE;
}
.ftr-col-desc{

}
.ftr-addr,
.ftr-tel,
.ftr-fax,
.ftr-mail{
	margin-bottom: 30px;
}
.ftr-addr{
	margin-bottom: 25px;
}
.ftr-addr a,
.ftr-tel a,
.ftr-tel span,
.ftr-fax a,
.ftr-fax span,
.ftr-mail a,
.ftr-be-code span{
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #162B39;
}
.ftr-addr a{
	line-height: 1.5;
}
.ftr-btm{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 46px 0;
}
.ftr-copyright{
	padding-right: 10px;
}
.ftr-copyright p{
	margin-bottom: 0;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	color: #777F84;
}
.ftr-btm-menu{
	margin-left: auto;
	padding-right: 10px;
}
.ftr-btm-menu ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.ftr-btm-menu ul li{
	position: relative;
	padding: 0 15px;
}
.ftr-btm-menu ul li:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	background: #777F84;
	width: 4px;
	height: 1px;
	margin-top: 1px;
}
.ftr-btm-menu ul li:last-child:after{
	content: none;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	color: #777F84;
	text-transform: capitalize;
}
.ftr-developed-by{
	margin-left: auto;
}
.ftr-developed-by p{
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1;
	color: #777F84;
}
.ftr-developed-by p a{
	display: inline-block;
	color: #777F84;
}


/*cta-module-sec*/
.cta-module-sec{
	background: #1A7ABE;
}

.cta-module{
	text-align: center;
	padding-top: 103px;
	padding-bottom: 102px;
	background: #1A7ABE;
	position: relative;
}
.cta-module:after{
	position: absolute;
	content: "";
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	height: 60px;
	width: 6px;
	background: #fff;
}
.cta-module-title.fl-h3{
	color: #fff;
	margin-bottom: 12px;
}
.cta-module p{
	color: #fff;
}
.ftr-xs-col-menu{
	display: none;
}

/*responsive*/
@media(max-width: 1699px){

}
@media(max-width: 1599px){

}
@media(max-width: 1499px){
	.ftr-btm{
		padding: 40px 0;
	}
	.ftr-top{
		padding-top: 70px;
	}
}
@media(max-width: 1399px){

}
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.ftr-col-menu ul li a,
	.ftr-addr a, .ftr-tel a, .ftr-tel span, .ftr-fax a, .ftr-fax span, .ftr-mail a, .ftr-be-code span{
		font-size: 15px;
	}
	.ftr-col-menu ul li{
		padding: 15px 0;
	}
	
	.ftr-tel, .ftr-fax, .ftr-mail{
		margin-bottom: 25px;
	}
	.ftr-addr{
		margin-bottom: 20px;
	}
}
@media(max-width: 991px){
	.ftr-top{
		padding: 55px 0;
	}
	.ftr-col{
		padding-right: 25px;
	}
	.ftr-col-02{
		padding-top: 10px;
		max-width: 40.245%;
	}
	.ftr-col-03 {
		max-width: 25.903%;
	}
	.ftr-copyright{
		padding-right: 0;
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.ftr-btm-menu,
	.ftr-developed-by{
		margin-left: initial;
		padding-right: 0;
		width: 100%;
		display: block;
	}
	.ftr-developed-by{
		text-align: center;
	}
	.ftr-developed-by p a,
	.ftr-developed-by p{
		color: #B2BCC4
	}
	.ftr-btm-menu{
		margin-bottom: 22px;
		padding-bottom: 28px;
		position: relative;
	}
	.ftr-btm-menu:after{
		position: absolute;
		content: "";
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		bottom: 0;
		width: 47px;
		height: 4px;
		background:  #F2F2F2;
	}
	.ftr-btm-menu ul{
		justify-content: center;
	}
	.ftr-btm{
		padding: 30px 0;
	}
	.ftr-copyright p,
	.ftr-btm-menu ul li a{
		font-size: 16px;
	}

}

@media(max-width: 767px){
	.ftr-col{
		padding-right: 0;
		padding-top: 0;
		max-width: 100%;
		display: block;
		text-align: center;
	}
	.ftr-col-menu{
		display: none;
	}
	.ftr-top{
		padding-top: 55px;
	}
	.ftr-lg-logo{
		margin-bottom: 48px;
	}
	.ftr-lg-logo a{
		max-width: 185px;
	}
	.ftr-sm-logo a{
		max-width: 116px;
	}
	.ftr-col-01{
		margin-bottom: 35px;
	}
	.ftr-xs-col-menu{

	}
	.ftr-xs-col-menu ul li{
		padding: 15px 0;
		line-height: 1;
	}
	.ftr-xs-col-menu ul li:first-child{
		padding-top: 0;
	}
	.ftr-xs-col-menu ul li:last-child{
		padding-bottom: 0;
	}
	.ftr-xs-col-menu ul li a{
		display: inline-block;
		font-weight: 700;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.02em;
		color: #162B39;
		text-transform: capitalize;
	}
}
@media(max-width: 575px){

}
@media(max-width: 479px){

}