.header-wrap{

}
.header{

}
.header-inr{
	display: flex;
	flex-wrap: wrap;
}
.hdr-lft{
	padding-top: 28px;
	padding-right: 10px;
}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
}
.hdr-topbar{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.hdr-top-menu{

}
.hdr-top-menu ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -23px;
}
.hdr-top-menu ul li{
	padding: 0 23px;
}
.hdr-top-menu ul li a{
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #899EAC;
	text-transform: capitalize;
}
.hdr-top-menu ul li a:hover{
	color: #1A7ABE;
}
.hdr-lang{
	margin-left: 18px;
	padding-left: 18px;
	position: relative;
}
.hdr-lang:after{
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	height: 18px;
	width: 1px;
	background: #E4E9ED;
}
.hdr-lang ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -5px;
}
.hdr-lang ul li{
	padding: 0 5px;
}
.hdr-lang ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border: 2px solid #899EAC;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.02em;
	border-radius: 50% 50%;
	color: #899EAC;
}
.hdr-lang ul li.active a,
.hdr-lang ul li a:hover{
	background: #899EAC;
	color: #fff;
}
.hdr-socials{
	padding-left: 18px;
	margin-left: 18px;
	position: relative;
}
.hdr-socials:after{
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	height: 18px;
	width: 1px;
	background: #E4E9ED;
}
.hdr-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -7px;
}
.hdr-socials ul li{
	padding: 0 7px;
}
.hdr-socials ul li a,
.hdr-socials ul li a i{
	display: inline-block;
}
.hdr-socials ul li a:hover i svg{
	fill: #1A7ABE;
}
.hdr-tel{
	margin-left: 25px;
}
.hdr-tel a{
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	color: #FFFFFF;
	background: #162B39;
	padding: 13px 61px;
}
.hdr-tel a:hover{
	background: #1A7ABE;
}



.hdr-menu{

}

nav.main-nav ul li a{
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #162B39;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -21px;
	padding-top: 55px;
	justify-content: flex-end;
}
nav.main-nav > ul > li{
	padding: 0 21px;
	position: relative;
}
nav.main-nav > ul > li > a{
	font-size: 18px;
	padding-bottom: 55px;
	position: relative;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	opacity: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	border-bottom: 14px solid #1A7ABE;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	margin-top: -7px;
}
nav.main-nav > ul > li.menu-item-has-children:hover a:after,
nav.main-nav > ul > li.current-menu-item > a:after,
nav.main-nav > ul > li > a:hover:after{
	content: "";
	opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li > a:hover{
	color: #1A7ABE;
}


nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	z-index: 15;
	width: 200px;
	padding: 0 2px 0 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transform: scale3d(1,0,1);
	-ms-transform: scale3d(1,0,1);
	-webkit-transform: scale3d(1,0,1);
	-o-transform: scale3d(1,0,1);
	transform-origin: top;
	opacity: 0;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
	-ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
	-webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 10px 0 10px 10px;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #1A7ABE;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after {
    height: 100%;
    opacity: 1;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #1A7ABE;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a {
    color: #1A7ABE
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    font-size: 15px;
    color: #162B39;
    text-transform: capitalize;
}


.usp-bar{
	padding: 26px 100px 6px 100px;
	background: #1A7ABE;
	position: relative;
	margin-bottom: 5px;
}
.usp-bar:after{
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	background: #FFFFFF;
	width: 80px;
	height: 4px;
}
.usp-bar-cntlr{

}
.usp-bar-cntlr{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -67px;
}
.usp-bar-item-cntlr{
	position: relative;
	padding: 0 67px;
	margin-bottom: 20px;
	line-height: 1;
	font-size: 18px;
	line-height: 1;
	color: #FFFFFF;
}

.usp-bar-item-cntlr:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	background: #fff;
	width: 36px;
	height: 2px;
	margin-top: 1px;
}
.usp-bar-item-cntlr:last-child:after{
	content: none;
}

/*hambergar */
.xs-mobile-menu .hambergar-cntlr{
	padding-right: 20px;
}
.hambergar-cntlr{
	margin-left: auto;
}
.hambergar-icon{
	width: 38px;
	height: 22px;
	position: relative;
}
.hambergar-icon span{
	position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    border-radius: 50px;
    background: #162B39;
}
.hambergar-icon span:nth-child(2){
	top: 9px;
	left: 8px;
}
.hambergar-icon span:nth-child(3){
	top: 18px;
}
.allWork .hambergar-icon span:nth-child(1) {
    top: 0px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left: 0;
    right: 0;
}
.allWork .hambergar-icon span:nth-child(3) {
    top: 0px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 0;
    right: 0;
}
.allWork .hambergar-icon span:nth-child(2){
	display: none;
	content: none;
}


body.allWork {
    overflow: hidden!important;
}
.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
.allWork .xs-mobile-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}

.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #fcf8f8;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 116px;
    height: 100%;
    max-width: 283px;
    width: 100%;
    padding-bottom: 77px;

    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-mbl-hdr{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

/*responsive*/
@media(max-width: 1699px){
	.hdr-top-menu ul{
		margin: 0 -15px;
	}
	.hdr-top-menu ul li{
		padding: 0 15px;
	}
	.hdr-lang,
	.hdr-socials{
		padding-left: 14px;
		margin-left: 14px;
	}
	.hdr-tel{
		margin-left: 15px;
	}
	.hdr-tel a{
		padding-left: 50px;
		padding-right: 50px;
	}
	nav.main-nav > ul{
		margin: 0 -12px;
	}
	nav.main-nav > ul > li{
		padding: 0 12px;
	}
	nav.main-nav > ul > li > a{
		font-size: 17px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 14px;
	}
	.usp-bar-cntlr{
		margin: 0 -45px;
	}
	.usp-bar-item-cntlr{
		padding: 0 45px;
	}
	.usp-bar-item-cntlr a{
		font-size: 16px;
	}
}
@media(max-width: 1599px){

}
@media(max-width: 1499px){
	.hdr-top-menu ul{
		margin: 0 -10px;
	}
	.hdr-top-menu ul li{
		padding: 0 10px;
	}
	.hdr-lang,
	.hdr-socials{
		padding-left: 12px;
		margin-left: 12px;
	}
	.hdr-tel{
		margin-left: 12px;
	}
	.hdr-tel a{
		padding-left: 40px;
		padding-right: 40px;
	}
	nav.main-nav > ul{
		margin: 0 -8px;
	}
	nav.main-nav > ul > li{
		padding: 0 8px;
	}
	nav.main-nav > ul > li > a{
		font-size: 16px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 13px;
	}
	.usp-bar-cntlr{
		margin: 0 -30px;
	}
	.usp-bar-item-cntlr{
		padding: 0 30px;
	}
	.usp-bar-item-cntlr a{
		font-size: 17px;
	}
	.hdr-lang ul li a{
		font-size: 11px;
	}
	.hdr-tel a{
		font-size: 16px;
	}
	.usp-bar-item-cntlr{
		font-size: 17px;
	}
	.usp-bar-item-cntlr:after{
		width: 30px;
	}
	.usp-bar{
		padding-left: 80px;
		padding-right: 80px;
	}
	.usp-bar:after{
		width: 60px;
	}
}
@media(max-width: 1399px){

}
@media(max-width: 1299px){
	nav.main-nav > ul{
		margin: 0 -7px;
	}
	nav.main-nav > ul > li{
		padding: 0 7px;
	}
	nav.main-nav > ul > li > a{
		font-size: 15px;
	}
	.hdr-top-menu ul{
		margin: 0 -7px;
	}
	.hdr-top-menu ul li{
		padding: 0 7px;
	}
	.hdr-top-menu ul li a{
		font-size: 13px;
	}
	.hdr-tel a{
		font-size: 14px;
	}
}
@media(max-width: 1199px){
	.logo a{
		max-width: 250px;
	}
	.usp-bar-item-cntlr{
		font-size: 16px;
	}
	.usp-bar-item-cntlr:after{
		width: 25px;
	}
	.usp-bar{
		padding-left: 60px;
		padding-right: 60px;
	}
	.usp-bar:after{
		width: 40px;
	}
}
@media(max-width: 991px){
	.usp-bar{
		padding-left: 45px;
		padding-right: 45px;
	}
	.usp-bar:after{
		width: 30px;
	}
	.usp-bar-cntlr{
		margin: 0 -20px;
	}
	.usp-bar-item-cntlr{
		padding: 0 20px;
	}
	.logo a{
		max-width: 145px;
	}
	.hdr-menu{
		display: flex;
	}
	.hdr-tel{
		margin-left: 0;
		margin-bottom: 31px;
	}
	.hdr-rgt{
		margin-bottom: 21px;
	}
	.header-inr{
		align-items: flex-end;
	}
	.hdr-lft{
		padding-top: 0;
		padding-bottom: 10px;
	}
	.hdr-tel a{
		font-size: 18px;
		padding-left: 51px;
		padding-right: 51px;
	}
	.hdr-lang{
		padding-left: 0;
		margin-left: 0;
		padding-bottom: 30px;
		margin-bottom: 40px;
	}
	.hdr-lang:after{
		content: none;
	}
	.hdr-lang:before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 1px;
		background: #E4E4E4;
	}
	.hdr-lang ul li a{
		width: 40px;
		height: 40px;
		font-size: 16px;
	}
	.hdr-socials{
		padding: 0;
		margin: 0;
	}
	.hdr-socials:after{
		content: none;
	}
	.xs-mobile-menu .hdr-tel a{
		padding-left: 50px;
		padding-right: 50px;
	}
	.xs-mbl-btm{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 5;
		padding-left: 35px;
		padding-bottom: 44px;
	}
	.hdr-lang ul{
		margin: 0 -10px;
	}
	.hdr-lang ul li{
		padding: 0 10px;
	}
	.hdr-socials ul{
		margin: 0 -15px;
	}
	.hdr-socials ul li{
		padding: 0 15px;
	}
}

@media(max-width: 767px){
	.usp-bar{
		padding-left: 50px;
		padding-right: 50px;
	}
	.usp-bar:after{
		width: 20px;
	}
	.usp-bar-cntlr{
		margin: 0;
	}
	.usp-bar-item-cntlr{
		padding: 0;
		text-align: center;
	}
	.usp-bar-item-cntlr:after{
		content: none;
	}
	.usp-bar-item-cntlr{
		display: none;
	}
	.usp-bar-item-cntlr:first-of-type{
		display: block;
	}
	.uspBarSlider.slick-initialized .usp-bar-item-cntlr{
		display: block;
	}
	.xs-mobile-menu .hdr-tel{
		display: flex;
		justify-content: flex-end;
	}
	.xs-mobile-menu .hdr-tel a{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media(max-width: 575px){

}
@media(max-width: 479px){

}
