.hm-banner{
	position: relative;
}
.hm-banner-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.hm-bnr-shape{
	width: 26px;
	height: 39px;
	border: 3px solid #fff;
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 4;
	border-radius: 15px;
	cursor: pointer;
}
.hm-bnr-shape:after{
	position: absolute;
	content: "";
	left: 50%;
	top: 8px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	height: 6px;
	width: 3px;
	background: #fff;
}
.downAnimate:after{
	animation: downAnimate 2s linear infinite;
}
@keyframes downAnimate{
	0%{
		height: 6px;
	}
	100%{
		height: 20px;
	}
}
.hm-banner-cntlr{
	height: 830px;
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 15px;
}
.hm-bnr-desc{
	color: #fff;
	text-align: center;
	margin-top: -40px;
}
.hm-bnr-sub-title.fl-h3{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase;
	color: #FFFFFF;
}
.hm-bnr-title.fl-h1{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 64px;
	line-height: 1;
	text-transform: uppercase;
	color: #FFFFFF;
}
.hm-bnr-xs-title.fl-h3{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 28px;
	padding-bottom: 25px;
	position: relative;
}
.hm-bnr-xs-title:after{
	position: absolute;
	content: "";
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	background: #fff;
	height: 2px;
	width: 36px;
}
.hm-bnr-btn .fl-blue-btn{
	padding: 14px 15px;
    min-width: 200px;
}
.hm-bnr-btn .fl-blue-btn:hover{
	border-color: #fff;
    background: transparent;
    color: #fff;
}

.lftimg-rgtdesc-module-sec{

}
.lftimg-rgtdesc-mudl{
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.lftimg-rgtdesc-lft{
	width: 49.02%;
	height: 550px;
}
.lftimg-rgtdesc-lft > img{
	display: none;
}
.lftimg-rgtdesc-rgt{
	width: 50.98%;
	padding-left: 105px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.lftimg-rgtdesc-mudl-title.fl-h2{
	line-height: 1.2;
}
.lftimg-rgtdesc-btn .fl-transparent-btn{
	border-color: #1A7ABE;
	color: #1A7ABE;
	padding-top: 14px;
	padding-bottom: 14px;
}
.lftimg-rgtdesc-btn .fl-transparent-btn:hover{
	background: #1A7ABE;
	color: #fff;
}


/*responsive*/
@media(max-width: 1699px){
	.hm-banner-cntlr{
		height: 770px;
	}
	.lftimg-rgtdesc-rgt{
		padding-left: 80px;
	}
	.lftimg-rgtdesc-lft{
		height: 500px;
	}
}
@media(max-width: 1599px){

}
@media(max-width: 1499px){
	.hm-banner-cntlr{
		height: 700px;
	}
	.lftimg-rgtdesc-rgt{
		padding-left: 70px;
	}
	.lftimg-rgtdesc-lft{
		height: 450px;
	}
}
@media(max-width: 1399px){

}
@media(max-width: 1299px){

}
@media(max-width: 1199px){
	.hm-bnr-title.fl-h1{
		font-size: 60px;
	}
	.lftimg-rgtdesc-rgt{
		padding-left: 45px;
	}
	.lftimg-rgtdesc-lft{
		height: 400px;
	}
}
@media(max-width: 991px){
	.hm-banner-cntlr{
		height: 600px;
	}
	.hm-bnr-title.fl-h1{
		font-size: 55px;
	}
	.lftimg-rgtdesc-rgt{
		padding-left: 30px;
	}
}

@media(max-width: 767px){
	.hm-bnr-title.fl-h1{
		font-size: 48px;
		margin-bottom: 10px;
	}
	.hm-bnr-sub-title.fl-h3{
		margin-bottom: 12px;
	}
	.hm-bnr-shape{
		width: 22px;
		height: 33px;
		bottom: 24px;
	}
	.hm-bnr-shape:after{
		width: 3px;
		height: 5px;
	}
	.hm-banner-cntlr{
		padding-left: 0;
		padding-right: 0;
	}
	.lftimg-rgtdesc-mudl{
		display: block;
	}
	.lftimg-rgtdesc-lft{
		width: 100%;
		margin-bottom: 35px;

	}
	.lftimg-rgtdesc-rgt{
		padding-left: 0;
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
	}
	.lftimg-rgtdesc-mudl{
		padding-top: 75px;
	}
	.lftimg-rgtdesc-mudl-title.fl-h2{
		margin-bottom: 25px;
	}
}
@media(max-width: 639px){
	.lftimg-rgtdesc-lft{
		height: 350px;
	}
}
@media(max-width: 575px){
	.hm-bnr-title.fl-h1{
		font-size: 42px;
	}
	.lftimg-rgtdesc-lft{
		background: transparent!important;
		height: initial;
	}
	.lftimg-rgtdesc-lft img{
		display: block;
	}
}
@media(max-width: 479px){

}